<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="bibleplanstyles.css" />
    <script src="2YearBibleChronological.js" defer></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="bibleplanapp.js" defer></script>
  </head>
  <body>
    <header>
      <h4>Chronological Bible Reading Plan</h4>
    </header>
    <section id="plan">
      <p>Loc: 
        <input
            type="text"
            v-model="readingLocation"
            @keyup="updateReadingLocation"/>
          <button @click="buildReadingList(false)">Undo</button>
      </p>
      <ul style="list-style-type: none;">
        <li
          v-for="(reading, index) in readingList"
          :key="index"
        >
          <button @click="buildReadingList(true)" :disabled="buttonDisabled(index)">{{reading}}</button>
        </li>
    </section>
  </body>
</html>
