#inputValues {
  display: flex;
  flex-direction: column; }
  #inputValues ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  #inputValues li {
    display: inline;
    cursor: pointer;
    color: #0087ff;
    margin-right: 10px;
    font-size: 0.8em;
    text-decoration: underline; }
  #inputValues svg {
    cursor: pointer;
    margin-left: 5px; }
  #inputValues input {
    width: 6em; }
  #inputValues #date {
    width: 12em;
    font-size: 12px;
    font-family: sans-serif; }
  #inputValues h2 {
    margin-bottom: 10px; }
  #inputValues button {
    border: 1px solid gray;
    padding: 5px 10px;
    background-color: white;
    border-radius: 1px;
    margin-right: 5px;
    cursor: pointer; }
  #inputValues form:invalid #calc {
    pointer-events: none;
    color: lightgray;
    border-color: lightgrey;
    cursor: default; 
}

#output {
  display: none; 
}

.row {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 5px 0; }

.row label {
  flex-basis: 250px;
  flex-shrink: 0;
  font-weight: bold; 
}